<ion-view view-title="Embarcaciones" class="body">
  <ion-content>
  	<div class="list">
	  	

	  	<div class="card" ng-click="goTickets()">
		  	<div class="item item-text-wrap">
		  		<div class="list">		  			
		  			<a class="item item-icon-right">
				    	# Embarción: ES-KSJ43DHFKJSDNF5
		  				<i class="icon ion-chevron-right"></i>
				  	</a>

				  	<a class="item item-icon-right">
				    	Fecha: 10/7/2017
				  	</a>				  	
				  	<a class="item item-icon-right">
				  		Hora: 16:25
				  	</a>
		  		</div>
		  	</div>
		</div>

		<div class="card" ng-click="goTickets()">
		  	<div class="item item-text-wrap">
		  		<div class="list">		  			
		  			<a class="item item-icon-right">
				    	# Embarción: PE-UEO83MVI10J2
		  				<i class="icon ion-chevron-right"></i>
				  	</a>

				  	<a class="item item-icon-right">
				    	Fecha: 12/7/2017
				  	</a>				  	
				  	<a class="item item-icon-right">
				  		Hora: 09:45
				  	</a>
		  		</div>
		  	</div>
		</div>


	</div>
    

  </ion-content>
</ion-view>


