<ion-view view-title="ParkingPredio App" class="body">

  <ion-content>
    

    <div class="divnivel">          
      <div class="backgroundcanvas">
          <div>{{parkingAvaible}}
            <br>Parqueos
            <br>Libres
        </div>
      </div>  

      <a class="meteradentrocanvas" nav-transition="ios" ng-click="goParking()">
        <canvas class="canvas" id="gauge" ></canvas>              
      </a>          
    </div>  

    <h1>{{currentUser.displayName}}</h1>
    <p>{{currentUser.email}}</p>



    

    <button class="button button-balanced" ng-click="goParking()">
  		Parqueo
  	</button>

  	<button class="button button-balanced" ng-click="goQuery()">
    		Consultas
  	</button>

  	<button class="button button-balanced" ng-click="goTickets()">
    		Fichas
  	</button>
	 
   


  </ion-content>
</ion-view>

