<ion-view view-title="Parqueo" class="body"  class="body">
  <ion-content>


    <div ng-hide="currenParking.isIn">

      <div class="divnivel">
        <div class="backgroundcanvas">
          <div>{{parkingAvaible}}
            <br>Parqueos
            <br>Libres
          </div>
        </div>

        <a class="meteradentrocanvas" nav-transition="ios" ng-click="goParking()">
          <canvas class="canvas" id="gauge"></canvas>
        </a>
      </div>

      <section id="content-parking-init">
        <label class="item item-input item-floating-label" id="input-placa">
            <span class="input-label">Ingresar placa</span>
          <input type="text" ng-model="placa" placeholder="Ingresar placa">
        </label>


        <!--
        <button class="btn-parking button button-full btn-ecoapp " ng-click="enterParkinglot(placa)">
        Reservar</button>-->

        <button class="btn-parking button button-full btn-ecoapp " ng-click="enterParkinglot(placa)">
            Ingresar</button>
      </section>


    </div>



    <div ng-show="currenParking.isIn">
      
       

      <section id="content-parking-finish">
        <div class="card">
            <div class="item item-text-wrap">
              <div class="list">
                <a class="item item-icon-right">                  
                  <h2>Hora entrada</h2>
                  <h1>{{currenParking.inHourString}}</h1>
                  
                </a>
              </div>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
              <div class="list">
                <a class="item item-icon-right">                  
                  <h2>Tiempo Transcurrido</h2>
                  <h1>{{hoursH}}:{{minsH}}:{{secsH}}</h1>
                  
                </a>
              </div>
            </div>
        </div>
      
      

      <button class="btn-parking button button-full btn-salir " ng-click="leaveParkinglot()">
            Salir</button>
      

      
      
      

      </section>
      

      
    </div>

  </ion-content>
  }
</ion-view>