<ion-view view-title="Consultas" class="body">
  <ion-content>
  	<div class="list">
	  	
	  	<div class="card" ng-click="goParkingHistory()">
		  	<div class="item item-text-wrap">
		  		<div class="list">
				  	<a class="item item-icon-right">
				    	Historial de Parqueos
				    	<i class="icon ion-chevron-right"></i>
				  	</a>
		  		</div>
		  	</div>
		</div>

		<!-- <div class="card" ng-click="goBills()">
		  	<div class="item item-text-wrap">
		  		<div class="list">
				  	<a class="item item-icon-right">
				    	Mensualidades
				    	<i class="icon ion-chevron-right"></i>
				  	</a>
		  		</div>
		  	</div>
		</div> -->

		<div class="card" ng-click="goPolicy()">
		  	<div class="item item-text-wrap">
		  		<div class="list">
				  	<a class="item item-icon-right">
				    	Poliza de seguros
				    	<i class="icon ion-chevron-right"></i>
				  	</a>
		  		</div>
		  	</div>
		</div>

		<div class="card" ng-click="goDelinquency()">
		  	<div class="item item-text-wrap">
		  		<div class="list">
				  	<a class="item item-icon-right">
				    	Hoja de delincuencia
				    	<i class="icon ion-chevron-right"></i>
				  	</a>
		  		</div>
		  	</div>
		</div>

	</div>
    

  </ion-content>
</ion-view>


