<ion-modal-view>
  <ion-header-bar>
    

    <h1 class="title">Registro de Socio</h1>
    <div class="buttons">
      <button class="button ion-close button-clear button-dark" ng-click="signupModal.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="verifyEmailSignup(signupData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="signupData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Apellidos</span>
          <input type="text" ng-model="signupData.lastname">
        </label>
        <label class="item item-input">
          <span class="input-label">Número de Cédula</span>
          <input type="number" ng-model="signupData.ID">
        </label>                
        <label class="item item-input">
          <span class="input-label">Correo Electrónico</span>
          <input type="email" ng-model="signupData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Teléfono</span>
          <input type="number" ng-model="signupData.phone">
        </label>                
        
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="signupData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Repetir contraseña</span>
          <input type="password" ng-model="signupData.password2">
        </label>
        <label class="item">
          <input class="button button-block button-positive" type="submit" value="Registrarse">           
          
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>