<ion-view view-title="Usuarios" class="body">
  <ion-content>
  	<div class="list">
	  	

	  	<div class="card" ng-repeat="user in currentUsers">
		  	<div class="item item-text-wrap">
		  		<div class="list">		  			
		  			<a class="item item-icon-right">
				    	{{user.name}} {{user.lastname}}
		  				<i class="icon ion-edit"></i>
				  	</a>

				  	<a class="item item-icon-right">
				    	Tel: {{user.phone}}
				  	</a>				  	
				  	<a class="item item-icon-right">
				  		{{user.email}}
				  	</a>
		  		</div>
		  	</div>
		</div>

	</div>
    

  </ion-content>
</ion-view>


