/* Empty. Add your own CSS if you like */
.body {

  background-image: -webkit-linear-gradient(270deg, #011223, #163d5f 50%, #011223);
  background-image: linear-gradient(180deg, #d9d9da, #f5f5f5 50%, #e3e3e3);
/*font-family: 'Champagne', sans-serif;*/
}

#header-menu{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 4%;
}
#logo{
    margin-left: 5%;
    width: 20%;
    height: 80px;
}
.content-title{
    width: 73%;
    height: 73px;
    float: right;
    margin: 1%;
    padding: 6% ;
    text-align: center;
    font-size: 20px;
}

.content-form{
    margin: 10% 4%;
}

.item-floating-label{

    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom-color: #52fa3b !important;
    border-bottom-width: 2px;

}

#password{ 
    
    margin-bottom: 10%;
}





.map{
  z-index: 20;
}

.divnivel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
}


.backgroundcanvas {
 position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 160px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 150px;
  background-image: -webkit-linear-gradient(90deg, #6b6b6b, #fff);
  background-image: linear-gradient(0deg, #6b6b6b, #fff);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .8);
  font-family: 'Champagne', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.meteradentrocanvas {
  position: relative;
  z-index: 20;
  width: 300px;
  height: 150px;
}

.canvas{
  margin-top: 25px !important;

}